.break_long {
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

/* NOTE: CUSTOMISE SCROLL BAR */
/* === Base Scrollbar Styles (Light Mode) === */
:root {
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: auto;
}
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: hsl(0, 3%, 75%);
  border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 2%, 39%, 0.63);
}

/* === Dark Mode === */
.dark {
  scrollbar-color: #a8aaa8 #5c5c5e;
}
.dark ::-webkit-scrollbar-track {
  background: #3f3c3c;
}
.dark ::-webkit-scrollbar-thumb {
  background: #a8aaa8;
  border-radius: 16px;
}
